@page "/"

<PageTitle>Index</PageTitle>

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using Microsoft.EntityFrameworkCore
@using NuGet.Packaging
@using devops.Models
@using devops.Controllers;
@using System.IO;
@using devops.Components;

@inject ArticlesController articleController
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/MainSubSection.css" asp-append-version="true" />
</head>


<div class="grid-container">
    <div class="bar1">
    </div>
    <div class="logo">
        <img src="/images/logo.png" alt="logo" class="img-responsive" />
    </div>
    <div class="bar2">
    </div>
    <div class="main">
        @foreach (Article a in articles)
        {
            <div>
                <h2>@a.Title</h2>
            </div>
            <div>
                Display title: @a.DisplayTitle
            </div>
            <div>
                Author: @a.Author
            </div>
            <div>
                Categories: @a.Category
            </div>
            <div>
                Subjects: @a.Subjects
            </div>
            <div>
                Posted on: @a.PostedOn
            </div>
            <div>
                <p> Last edited on: @a.LastEditedOn </p>
            </div>
            <div>
                <p>@a.Body</p>
            </div>
            <devops.Components.DropZone>
            </devops.Components.DropZone>
            <div>
                <a class="btn btn-info"><i class="oi oi-pencil"></i></a>
                <a class="btn btn-danger"><i class="oi oi-trash"></i></a>
            </div>
        }
    </div>
    <div class="right">Right</div>
    <div class="footer">Footer</div>
</div>


@code
{
    [Parameter]
    public string ArticleId { get; set; } = null!;

    private List<Article>? articles = new();

    private string articleTitle = "Test";

    protected override async Task OnParametersSetAsync()
    {
        articles.AddRange(await articleController.Index());

    }


}